<header class="header">
    <div class="container" style="margin-left: 300px;">
        <div class="logo">
            <img style="width: 140px;" src="assets/icons/ibm_logo_white.svg" alt="IBM Logo" />
        </div>

        <nav class="nav">
            <ul>
                <li><a routerLink="/" class="nav-link">Home</a></li>
                <li><a (click)="navigate('chi-siamo')" class="nav-link">Chi Siamo</a></li>
                <li><a routerLink="/report" class="nav-link">Report</a></li>
                <li><a href="https://www.ibm.com/contact" class="nav-link">Contatti</a></li>
            </ul>
        </nav>
    </div>
</header>