<div class="container container-2">
    <div class="row hero" style="text-align: center;">
        <div class="col-12">
            <h1 class="h1-style">
                ”I sistemi dei nostri clienti supportano la società moderna. Li rendiamo più veloci, produttivi e
                sicuri.
                Non ci limitiamo a far funzionare meglio le aziende, ma facciamo funzionare meglio il mondo. ”
            </h1>
            <p class="p-style">Riuniamo tutte le tecnologie e i servizi necessari per aiutare i nostri clienti a
                risolvere i loro
                problemi aziendali</p>
            <img style="margin-top: 5px; width: 1000px;" src="assets/icons/immagine-chi-siamo.png"
                alt="Icona di ricerca">

        </div>
    </div>
</div>