<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row text-start" style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <div class="col-md-4">
                <h3 style="margin-left: 24px;">Contatti</h3>
                <ul class="list-unstyled">
                    <li><a class="text-white text-decoration-none">Email: infoibm.com</a></li>
                    <li><a class="text-white text-decoration-none">Telefono: +39 123 456 789</a></li>
                    <li><a class="text-white text-decoration-none">Indirizzo: Via Roma 123</a></li>
                    <li><a class="text-white text-decoration-none">FAQ</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 style="margin-left: 24px;">Risorse</h3>
                <ul class="list-unstyled">
                    <li><a class="text-white text-decoration-none">Chi siamo</a></li>
                    <li><a class="text-white text-decoration-none">Stampa</a></li>
                    <li><a class="text-white text-decoration-none">Lavora con noi</a></li>
                    <li><a class="text-white text-decoration-none">Blog</a></li>
                    <li><a class="text-white text-decoration-none">Eventi</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 style="margin-left: 24px;">Servizi</h3>
                <ul class="list-unstyled">
                    <li><a class="text-white text-decoration-none">Assistenza clienti</a></li>
                    <li><a class="text-white text-decoration-none">Documentazione</a></li>
                    <li><a class="text-white text-decoration-none">API</a></li>
                    <li><a class="text-white text-decoration-none">Status</a></li>
                    <li><a class="text-white text-decoration-none">Termini di servizio</a></li>
                </ul>
            </div>
        </div>
        <div style="background-color: white;width: auto; height: 1px; margin-bottom: 20px;"> </div>
        <div class="position-icon" style="margin-right: 80px;">
            <a href="https://www.facebook.com/IBM" target="_blank" aria-label="Vai alla pagina Facebook">
                <img class="img-style" src="assets/icons/facebook-bianco.svg" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/IBM" target="_blank" style="margin-left: 20px;"
                aria-label="Vai alla pagina Instagram">
                <img class="img-style" src="assets/icons/instagram_bianco.svg" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/@IBM" target="_blank" style="margin-left: 20px;"
                aria-label="Vai alla pagina YouTube">
                <img class="img-style" src="assets/icons/youtube_bianco.svg" alt="YouTube">
            </a>
        </div>
    </div>
</footer>